h1{
    color: aqua;
    background-color: black;
}
p{
    color: cornflowerblue;
    background-color: black;
}
input{
    color: cornsilk;
    background-color: black;

}
button{
    color: blueviolet;
    background-color: black;
}
b{
    color: rgb(28, 217, 157);
    background-color: black;
}
